[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[dev-packages]

pylint = "*"


[packages]

twilio = "*"
flask = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
flask-security = "*"
flask-migrate = "*"
flask-wtf = "*"
bcrypt = "*"
"psycopg2" = "*"
